.password-bg {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-style: solid;
  border-color: white;
  color: white;
  padding: 10px;
  border-radius: 10px;
  width: 250px;
}

.initial {
  height: 30px;
  width: 30px;
  border-radius: 50px;
  background-color: orange;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  margin-right: 20px;
}
.delete-btn {
  background-color: transparent;
  border-style: none;
  text-align: end;
  margin-top: 50px;
  margin-left: 20px;
}
li {
  list-style: none;
  margin-right: 20px;
}

.stars {
  width: 100px;
  height: 12px;
}
