* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.bg {
  background-color: #9ba9eb;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  padding: 30px;
  padding-left: 60px;
  font-family: 'roboto';
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.logo {
  height: 40px;
  width: 100px;
}
.img-delete {
  height: 20px;
  width: 20px;
}
.form-bg {
  background-color: #5763a5;
  border-radius: 5px;
  padding: 20px;
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
form {
  background-color: #454f84;
  border-radius: 5px;
  padding-left: 20px;
  color: white;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.input-bg {
  background-color: white;
  display: flex;
  flex-direction: row;
  height: 30px;
  justify-content: center;
  align-items: center;
  padding: 10px;
  color: #b6c3ca;
  border-radius: 5px;
  margin: 10px;
}
.h1 {
  font-size: 20px;
  padding-left: 15px;
}
.input-logo {
  height: 20px;
  width: 20px;
  color: #b6c3ca;
}
input {
  height: 25px;
  width: 80%;
  margin-right: 30px;
  color: #b6c3ca;
  border-style: none;
  font-weight: bold;
  padding-left: 10px;
}

hr {
  height: 30px;
  margin-left: 10px;
  color: #b6c3ca;
}
.btn-card {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.add-btn {
  background-color: #0b69ff;
  border-radius: 5px;
  border-style: none;
  color: white;
  font-weight: bold;
  height: 30px;
  margin-right: 10px;
}
.form-img {
  height: 220px;
  width: 220px;
  margin: 20px;
}

.h2 {
  font-size: 14px;
  color: white;
}

.count-bg {
  border-style: solid;
  border-radius: 8px;
  height: 20px;
  width: 30px;
  margin: 10px;
  padding-left: 8px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.result-bg {
  background-color: #5763a5;
  margin-top: 10px;
  border-radius: 5px;
  padding: 10px;
}
.password-search-bg {
  margin-top: 10px;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.passwords-count-bg {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: white;
  font-weight: bold;
}
.checkbox-label {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  font-weight: bold;
  align-items: center;
  color: white;
  font-size: 10px;
}

.label-check {
  width: 80px;
}
.input {
  border-radius: 5px;
}
.checkbox-input {
  height: 12px;
  width: 12px;
}
.hr2 {
  height: 1px;
}

.no-passwords-img {
  height: 200;
  width: 200px;
  text-align: center;
}
.no-passwords-img-bg {
  text-align: center;
}

.initial {
  height: 30px;
  width: 30px;
  border-radius: 50px;
  background-color: orange;
}

.password-bg {
  display: flex;
  flex-direction: row;
  border-style: solid;
  border-color: white;
}
